root = "./"
luaservice = root.."service/?.lua;".. root.."httpgateway/?.lua;"
lualoader = root .. "lualib/loader.lua"
lua_path = root.."lualib/?.lua;"..root.."lualib/?/init.lua;"..root.."httpgateway/?.lua;"
lua_path = lua_path ..root.."common/?.lua;"
lua_cpath = root .. "luaclib/?.so"
snax = root.."httpgateway/?.lua;"

ip = "127.0.0.1"

-- preload = "./examples/preload.lua"	-- run preload.lua before every lua service run
thread = 8
logger = root.."log/httplog/http"
start = "main"	-- main script
bootstrap = "snlua bootstrap"	-- The service for bootstrap
cpath = root.."cservice/?.so"

--
gameip = ip
gameport = 7791
log_level = 4
------------------------------------
harbor = 0
debug_console_port = 7890
---------------------------------------------------
http_port = 8002
http_ip_prefix = "192%.168%.1%."
http_limit = 524288

------------------mysql--------------------------
mysql_host = "192.168.1.20"
mysql_port = 3306
mysql_name = "cds_game_logic"
mysql_username = "root"
mysql_password = "123456"
